@use '@atlasng/design-system/sass/internal/token-utils';

$config: (
  namespace: 'content-card-grid',
  tokens: (
    card-background: token-utils.sys-token(primary-container),
    card-border: token-utils.sys-token(outline-variant),
    card-color: token-utils.sys-token(on-surface),
    card-min-width: 20rem,
    card-padding: 1.25rem,
    card-top-padding: 1rem,
    card-radius: token-utils.sys-token(corner-large),
    title-color: token-utils.sys-token(on-primary-container),
    title-font: token-utils.sys-token(title-medium-font),
    title-line-height: token-utils.sys-token(title-medium-line-height),
    title-size: token-utils.sys-token(title-medium-size),
    title-tracking: token-utils.sys-token(title-medium-tracking),
    title-weight: token-utils.sys-token(title-medium-weight),
    description-color: token-utils.sys-token(on-surface-variant),
    description-font: token-utils.sys-token(body-medium),
    description-tracking: token-utils.sys-token(body-medium-tracking),
    title-description-gap: 0.5rem,
    description-actions-gap: 0.75rem,
  ),
);

@mixin overrides($overrides) {
  @include token-utils.apply-overrides($overrides, $config);
}
