@use '@angular/material' as mat;
@use '@atlasng/design-system/sass/internal/breakpoints';
@use '@atlasng/design-system/sass/internal/token-utils';
@use './tokens' as *;

:host {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'header'
    'toc'
    'sections';
  grid-template-columns: 100%;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto auto;
  padding: 2.5rem 1.25rem;
  gap: 3rem;
  font-family: token-utils.slot(font, $config);
  font-size: token-utils.slot(font-size, $config);
  line-height: token-utils.slot(line-height, $config);
  letter-spacing: token-utils.slot(tracking, $config);
  font-weight: token-utils.slot(weight, $config);

  @include breakpoints.breakpoint(medium, large, x-large) {
    padding: 2.5rem;
    grid-template-areas:
      'header toc'
      'sections .';
    grid-template-columns: minmax(0, 1fr) minmax(15rem, 18.75rem);

    .content-page-toc {
      position: sticky;
      top: 2.5rem;
      max-width: 18.75rem;
      border-width: 0px !important;

      .content-page-toc-header {
        background-color: transparent !important;
      }

      .link {
        &.active {
          background-color: token-utils.slot(toc-link-active-background, $config);
        }
      }
    }
  }

  .content-page-header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .content-page-sections {
    grid-area: sections;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .content-page-subsections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .content-page-toc {
    grid-area: toc;
    width: 100%;
    height: min-content;
    justify-self: end;
    display: flex;
    flex-direction: column;
    border: 1px solid token-utils.slot(toc-border, $config);
    border-radius: token-utils.slot(toc-radius, $config);

    .content-page-toc-header {
      padding: 0.75rem 1rem;
      background-color: token-utils.slot(toc-header-background, $config);
      color: token-utils.slot(toc-header-color, $config);
      font: token-utils.slot(toc-header-font, $config);
      letter-spacing: token-utils.slot(toc-header-tracking, $config);
    }

    .links {
      @include mat.button-overrides(
        (
          text-horizontal-padding: 1rem,
          text-container-height: 2.75rem,
          text-label-text-color: token-utils.slot(toc-link-color, $config),
          text-label-text-font: token-utils.slot(toc-link-font, $config),
          text-label-text-size: token-utils.slot(toc-link-font-size, $config),
          text-label-text-tracking: token-utils.slot(toc-link-tracking, $config),
          text-label-text-weight: token-utils.slot(toc-link-weight, $config),
        )
      );

      display: flex;
      flex-direction: column;

      .link {
        margin-left: calc((var(--indentation-level, 1) - 2) * 0.75rem);
        justify-content: start;
      }
    }
  }

  h1 {
    letter-spacing: token-utils.slot(h1-tracking, $config);
  }
  h2 {
    letter-spacing: token-utils.slot(h2-tracking, $config);
  }
  h3 {
    letter-spacing: token-utils.slot(h3-tracking, $config);
  }

  ::ng-deep markdown {
    a {
      display: inline-flex;
      color: token-utils.slot(toc-link-color, $config);
      text-decoration: underline;
      font-weight: 600;
    }
  }
}

::ng-deep .ang-section-header-content {
  font-weight: 500;
}

::ng-deep .ang-section-header-link-container {
  @media (min-width: 640px) {
    display: none !important;
  }

  @media (min-width: 960px) {
    display: inline-block !important;
  }
}
