@use '@atlasng/design-system/sass/internal/breakpoints';
@use '@atlasng/design-system/sass/internal/token-utils';
@use './tokens' as *;

:host {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'header'
    'toc'
    'sections';
  grid-template-columns: 100%;
  width: 100%;
  max-width: 1700px;
  margin: auto;
  padding: 2.5rem 1.25rem;
  gap: 3rem;
  font-family: token-utils.slot(font, $config);
  font-size: token-utils.slot(font-size, $config);
  line-height: token-utils.slot(line-height, $config);
  letter-spacing: token-utils.slot(tracking, $config);
  font-weight: token-utils.slot(weight, $config);

  @include breakpoints.breakpoint(medium, large, x-large) {
    padding: 2.5rem;
    grid-template-areas:
      'header toc'
      'sections .';
    grid-template-columns: minmax(0, 1fr) minmax(15rem, 18.75rem);

    .content-page-toc {
      position: sticky;
      top: 2.5rem;
      max-width: 18.75rem;
      border-width: 0px !important;

      .content-page-toc-header {
        background-color: transparent !important;
      }
    }
  }

  .content-page-header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .content-page-sections {
    grid-area: sections;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .content-page-subsections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .content-page-toc {
    grid-area: toc;
    width: 100%;
    height: min-content;
    justify-self: end;
    display: flex;
    flex-direction: column;
    border: 1px solid token-utils.slot(toc-border, $config);
    border-radius: token-utils.slot(toc-radius, $config);
    font: token-utils.slot(toc-font, $config);

    .content-page-toc-header {
      padding: 0.75rem 1rem;
      font: token-utils.slot(toc-header-font, $config);
      background-color: token-utils.slot(toc-header-background, $config);
    }

    .links {
      display: flex;
      flex-direction: column;

      .link {
        min-height: 2rem;
        border-radius: 0.5rem;
        padding: 0.125rem 1rem;
        margin-left: calc((var(--indentation-level, 1) - 2) * 0.75rem);
        text-decoration: none;
        justify-content: start;

        &.active {
          background-color: color-mix(in srgb, var(--mat-sys-primary) 12%, transparent);
        }
      }
    }
  }

  ::ng-deep markdown {
    a {
      display: inline-flex;
      // color: token-utils.slot(color, tokens.$config);
      text-decoration: underline;
      font-weight: 600;
    }
  }
}

::ng-deep .ang-section-header-link-container {
  @media (min-width: 640px) {
    display: none !important;
  }

  @media (min-width: 960px) {
    display: inline-block !important;
  }
}
