<div class="content-page-header">
  <ang-breadcrumbs [items]="data().headerContent.breadcrumbs" />
  <div>
    <h1 angSectionHeader>{{ data().headerContent.title }}</h1>
    <markdown [data]="data().headerContent.subtitle" />
  </div>
</div>

<div class="content-page-toc">
  <div class="content-page-toc-header">On this page</div>
  <div class="links">
    @for (section of flattenedSections(); track $index) {
      <a
        matButton
        class="link"
        [class.active]="activeSectionService.isSectionActive(section.anchor)"
        [attr.aria-current]="activeSectionService.isSectionActive(section.anchor) ? 'location' : null"
        [href]="`#${section.anchor}`"
        [style.--indentation-level]="section.level"
      >
        {{ section.tagline }}
      </a>
    }
  </div>
</div>

<div class="content-page-sections">
  @for (section of data().content; track $index) {
    <div class="content-page-section" [id]="section.anchor">
      @switch (section.level) {
        @case (1) {
          <h1 angSectionHeader [anchor]="section.anchor" [underlined]="section.underline ?? true" [id]="section.anchor">
            {{ section.tagline }}
          </h1>
        }
        @case (2) {
          <h2 angSectionHeader [anchor]="section.anchor" [underlined]="section.underline ?? true" [id]="section.anchor">
            {{ section.tagline }}
          </h2>
        }
        @case (3) {
          <h3 angSectionHeader [anchor]="section.anchor" [underlined]="section.underline ?? true" [id]="section.anchor">
            {{ section.tagline }}
          </h3>
        }
        @case (4) {
          <h4 angSectionHeader [anchor]="section.anchor" [underlined]="section.underline ?? true" [id]="section.anchor">
            {{ section.tagline }}
          </h4>
        }
        @case (5) {
          <h5 angSectionHeader [anchor]="section.anchor" [underlined]="section.underline ?? true" [id]="section.anchor">
            {{ section.tagline }}
          </h5>
        }
        @default {
          <h2 angSectionHeader [anchor]="section.anchor" [underlined]="section.underline ?? true" [id]="section.anchor">
            {{ section.tagline }}
          </h2>
        }
      }

      <div class="content-page-subsections">
        @for (subsection of section.content; track $index) {
          <div class="content-page-subsection">
            @if (subsection.type === 'section') {
              <h3
                angSectionHeader
                [anchor]="subsection.anchor"
                [underlined]="subsection.underline ?? true"
                [id]="subsection.anchor"
              >
                {{ subsection.tagline }}
              </h3>

              @if (subsection.content) {
                @for (subsubsection of subsection.content; track $index) {
                  @if (subsubsection.type === 'markdown') {
                    <markdown [data]="subsubsection.data" />
                  }
                  @if (subsubsection.type === 'table') {
                    <ang-table
                      [rows]="tableService.getTableRows(subsubsection)"
                      [columns]="subsubsection.columns"
                      [enableSort]="true"
                      [totalsFooter]="subsubsection.footer || false"
                    />
                  }
                }
              }
            }
            @if (subsection.type === 'markdown') {
              <markdown [data]="subsection.data" />
            }
            @if (subsection.type === 'table') {
              <ang-table
                [rows]="tableService.getTableRows(subsection)"
                [columns]="subsection.columns"
                [enableSort]="true"
                [totalsFooter]="subsection.footer || false"
              />
            }
            @if (subsection.type === 'image') {
              <img class="content-page-image" [src]="subsection.src" [alt]="subsection.alt" />
            }
            @if (subsection.type === 'button') {
              <a matButton="filled" [attr.href]="subsection.route" [attr.download]="subsection.download ? '' : null">
                @if (subsection.icon) {
                  <mat-icon [fontIcon]="subsection.icon" />
                }
                {{ subsection.text }}
              </a>
            }

            @if (subsection.type === 'visualization') {
              <wpp-visualization [url]="subsection.url" />
            }

            @if (subsection.type === 'youtube') {
              <div class="content-page-youtube-container">
                <ang-youtube-player
                  [videoId]="subsection.videoId"
                  [label]="section.tagline"
                  [hasCookiesEnabled]="hasMarketingPermissions()"
                  (enableCookies)="enableMarketingPermissions()"
                />
              </div>
            }

            @if (subsection.type === 'grid') {
              <ang-grid-container>
                @for (card of subsection.content; track $index) {
                  <ang-profile-card
                    variant="large"
                    [pictureUrl]="card.pictureUrl"
                    [name]="card.name"
                    [description]="card.description"
                    [nameLink]="card.nameLink"
                  />
                }
              </ang-grid-container>
            }

            @if (subsection.type === 'card-grid') {
              <wpp-content-card-grid
                [items]="subsection.items"
                [headingLevel]="section.level < 6 ? section.level + 1 : 6"
              />
            }
          </div>
        }
      </div>
    </div>
  }
</div>
