@use '@angular/material' as mat;
@use '@atlasng/design-system/sass/internal/breakpoints';
@use '@atlasng/design-system/sass/internal/token-utils';
@use './tokens' as *;

:host {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'header'
    'toc'
    'sections';
  grid-template-columns: 100%;
  row-gap: 3rem;
  width: 100%;
  max-width: 106.25rem;
  margin: 0 auto auto;
  padding: 2.5rem 1.125rem;
  font-family: token-utils.slot(font, $config);
  font-size: token-utils.slot(font-size, $config);
  line-height: token-utils.slot(line-height, $config);
  letter-spacing: token-utils.slot(tracking, $config);
  font-weight: token-utils.slot(weight, $config);

  .content-page-header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .content-page-sections {
    grid-area: sections;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .content-page-subsections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .content-page-toc {
    grid-area: toc;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid token-utils.slot(toc-border, $config);
    border-radius: token-utils.slot(toc-radius, $config);

    .content-page-toc-header {
      padding: 0.75rem 1rem;
      background-color: token-utils.slot(toc-header-background, $config);
      color: token-utils.slot(toc-header-color, $config);
      font: token-utils.slot(toc-header-font, $config);
      letter-spacing: token-utils.slot(toc-header-tracking, $config);
      border-bottom: 1px solid
        token-utils.slot(toc-header-border-color, $config);
    }

    .links {
      @include mat.button-overrides(
        (
          text-label-text-color: token-utils.slot(toc-link-color, $config),
          text-label-text-font: token-utils.slot(toc-link-font, $config),
          text-label-text-size: token-utils.slot(toc-link-font-size, $config),
          text-label-text-tracking: token-utils.slot(toc-link-tracking, $config),
          text-label-text-weight: token-utils.slot(toc-link-weight, $config),
        )
      );

      display: flex;
      flex-direction: column;

      .link {
        height: unset;
        min-height: 2.75rem;
        line-height: token-utils.slot(toc-link-line-height, $config);
        padding: 0.75rem 1rem;
        margin-left: calc((var(--indentation-level, 1) - 2) * 0.75rem);
        justify-content: start;
      }
    }
  }

  h1,
  h2,
  h3 {
    margin-bottom: 1rem;
  }

  h1 {
    letter-spacing: token-utils.slot(h1-tracking, $config);
  }
  h2 {
    letter-spacing: token-utils.slot(h2-tracking, $config);
  }
  h3 {
    letter-spacing: token-utils.slot(h3-tracking, $config);
  }

  .content-page-image {
    width: 100%;
  }

  ::ng-deep markdown {
    p,
    ul {
      margin: 0;
    }

    a {
      display: inline-flex;
      color: token-utils.slot(toc-link-color, $config);
      text-decoration: underline;
      font-weight: 600;
    }
  }

  @include breakpoints.breakpoint(medium, large, x-large) {
    grid-template-areas:
      'header toc'
      'sections .';
    grid-template-columns: minmax(40rem, 87.5rem) minmax(15rem, 18.75rem);
    column-gap: 2.5rem;
    padding: 2.5rem 0 2.5rem 2.5rem;

    .content-page-toc {
      position: sticky;
      top: 2.5rem;
      max-width: 18.75rem;
      border: none;
      padding: 0rem 1rem;

      .content-page-toc-header {
        background-color: transparent;
        border-bottom: none;
      }

      .link {
        &.active {
          background-color: token-utils.slot(
            toc-link-active-background,
            $config
          );
        }
      }
    }
  }
}

::ng-deep .ang-section-header-content {
  font-weight: 500;
}

::ng-deep .ang-section-header-link-container {
  @media (min-width: 640px) {
    display: none !important;
  }

  @media (min-width: 960px) {
    display: inline-block !important;
  }
}
