@use '@atlasng/design-system/sass/internal/breakpoints';
@use '@atlasng/design-system/sass/internal/token-utils';

$config: (
  namespace: 'content-page',
  tokens: (
    font: token-utils.sys-token(body-large-font),
    line-height: token-utils.sys-token(body-large-line-height),
    font-size: token-utils.sys-token(body-large-size),
    tracking: token-utils.sys-token(body-large-tracking),
    weight: token-utils.sys-token(body-large-weight),

    toc-radius: token-utils.sys-token(corner-small),
    toc-border: token-utils.sys-token(outline-variant),
    
    toc-link-font: token-utils.sys-token(body-medium-font),
    toc-link-font-size: token-utils.sys-token(body-medium-size),
    toc-link-tracking: token-utils.sys-token(body-medium-tracking),
    toc-link-weight: token-utils.sys-token(body-medium-weight),
    toc-link-color: token-utils.sys-token(on-surface-variant),
    toc-link-active-background: token-utils.sys-token(primary-container),
    
    toc-header-background: token-utils.sys-token(surface-container-low),
    toc-header-font: token-utils.sys-token(title-small),
    toc-header-color: token-utils.sys-token(on-surface),
    toc-header-tracking: token-utils.sys-token(title-small-tracking),

    h1-tracking: token-utils.sys-token(display-medium-tracking),
    h2-tracking: token-utils.sys-token(display-small-tracking),
    h3-tracking: token-utils.sys-token(headline-large-tracking),
  ),
);

@mixin overrides($overrides) {
  @include token-utils.apply-overrides($overrides, $config);
}
