@use '@fontsource/metropolis/500.css' as metropolis-500;
@use '@fontsource-variable/material-symbols-rounded/fill' as
  material-symbols-rounded;
@use '@fontsource-variable/montserrat' as montserrat;
@use '@fontsource-variable/nunito-sans' as nunito-sans;
@use '@fontsource-variable/open-sans' as open-sans;

mat-icon,
.material-symbols-rounded,
.material-icons,
[matButtonIcon] {
  font-family: 'Material Symbols Rounded Variable';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
