@use 'sass:map';
@use './typography' as typo;

$_palettes: (
  primary: (
    0: #000000,
    10: #031b2b,
    20: #052c44,
    25: #07334f,
    30: #083a5a,
    35: #094267,
    40: #0b4a72,
    50: #34729a,
    60: #5e99c1,
    70: #80b0d7,
    80: #9dc6e6,
    90: #d8eaf7,
    95: #e8f2ff,
    98: #f7f9ff,
    99: #fcfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #111a2e,
    20: #1c2847,
    25: #213052,
    30: #25355e,
    35: #2b3d6b,
    40: #314578,
    50: #516397,
    60: #7288b7,
    70: #90a5d4,
    80: #afc0f0,
    90: #e0e7fb,
    95: #eef0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001a1f,
    20: #002f37,
    25: #00373f,
    30: #003f49,
    35: #004653,
    40: #004e5c,
    50: #216f7e,
    60: #4290a1,
    70: #63b1c4,
    80: #84d2e6,
    90: #d3eef2,
    95: #d8f6ff,
    98: #f0fbff,
    99: #f8fdff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1c1b1e,
    20: #2b2d2e,
    25: #383a3c,
    30: #444749,
    35: #515557,
    40: #5e6366,
    50: #787f83,
    60: #939a9f,
    70: #aeb7bc,
    80: #c7d0d6,
    90: #d4d8d9,
    95: #e9ebec,
    98: #f6f7f8,
    99: #fcfcfc,
    100: #ffffff,
    4: #0f1011,
    6: #151718,
    12: #1f2122,
    17: #232526,
    22: #303234,
    24: #353739,
    87: #c7cbcc,
    92: #dde0e1,
    94: #e4e7e8,
    96: #eef0f1,
  ),
  neutral-variant: (
    0: #000000,
    10: #1b2128,
    20: #2f3742,
    25: #38414c,
    30: #33404a,
    35: #4c5a67,
    40: #596876,
    50: #758390,
    60: #93a3b2,
    70: #b1c0cc,
    80: #ccd8e0,
    90: #e7eef4,
    95: #f2f6f9,
    98: #fbfcfd,
    99: #fdfdfe,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #340002,
    20: #690005,
    25: #720006,
    30: #7a0007,
    35: #860009,
    40: #93000a,
    50: #ba1a1a,
    60: #d94a45,
    70: #f47f75,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbfb,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);

$theme: (
  color: (
    theme-type: light,
    primary: $primary-palette,
    tertiary: $tertiary-palette,
  ),
  typography: typo.$typography,
);

$theme-dark: (
  color: (
    theme-type: dark,
    primary: $primary-palette,
    tertiary: $tertiary-palette,
  ),
  typography: typo.$typography,
);
