$typography: (
  plain-family: 'Open Sans Variable',
  brand-family: 'Montserrat Variable',
  regular-weight: 400,
  medium-weight: 500,
  semibold-weight: 600,
  bold-weight: 700,
);

$typography-overrides: (
  body-large: 400 1rem #{'/'} 1.5rem 'Open Sans Variable',
  body-large-font: 'Open Sans Variable',
  body-large-line-height: 1.5rem,
  body-large-size: 1rem,
  body-large-tracking: 0rem,
  body-large-weight: 400,
  body-medium: 400 0.875rem #{'/'} 1.25rem 'Open Sans Variable',
  body-medium-font: 'Open Sans Variable',
  body-medium-line-height: 1.25rem,
  body-medium-size: 0.875rem,
  body-medium-tracking: 0rem,
  body-medium-weight: 400,
  body-small: 400 0.75rem #{'/'} 1.125rem 'Open Sans Variable',
  body-small-font: 'Open Sans Variable',
  body-small-line-height: 1.125rem,
  body-small-size: 0.75rem,
  body-small-tracking: 0.006rem,
  body-small-weight: 400,
  display-large: 600 2.875rem #{'/'} 3.875rem 'Montserrat Variable',
  display-large-font: 'Montserrat Variable',
  display-large-line-height: 3.875rem,
  display-large-size: 2.875rem,
  display-large-tracking: -0.063rem,
  display-large-weight: 600,
  display-medium: 600 2.438rem #{'/'} 3.375rem 'Montserrat Variable',
  display-medium-font: 'Montserrat Variable',
  display-medium-line-height: 3.375rem,
  display-medium-size: 2.438rem,
  display-medium-tracking: -0.047rem,
  display-medium-weight: 600,
  display-small: 600 2.25rem #{'/'} 2.75rem 'Montserrat Variable',
  display-small-font: 'Montserrat Variable',
  display-small-line-height: 2.75rem,
  display-small-size: 2.25rem,
  display-small-tracking: -0.031rem,
  display-small-weight: 600,
  headline-large: 600 2rem #{'/'} 2.5rem 'Montserrat Variable',
  headline-large-font: 'Montserrat Variable',
  headline-large-line-height: 2.5rem,
  headline-large-size: 2rem,
  headline-large-tracking: -0.031rem,
  headline-large-weight: 600,
  headline-medium: 600 1.75rem #{'/'} 2.25rem 'Montserrat Variable',
  headline-medium-font: 'Montserrat Variable',
  headline-medium-line-height: 2.25rem,
  headline-medium-size: 1.75rem,
  headline-medium-tracking: -0.025rem,
  headline-medium-weight: 600,
  headline-small: 600 1.5rem #{'/'} 2rem 'Montserrat Variable',
  headline-small-font: 'Montserrat Variable',
  headline-small-line-height: 2rem,
  headline-small-size: 1.5rem,
  headline-small-tracking: -0.013rem,
  headline-small-weight: 600,
  label-large: 600 0.875rem #{'/'} 1.313rem 'Open Sans Variable',
  label-large-font: 'Open Sans Variable',
  label-large-line-height: 1.313rem,
  label-large-size: 0.875rem,
  label-large-tracking: 0.006rem,
  label-large-weight: 600,
  label-large-weight-prominent: 700,
  label-medium: 600 0.75rem #{'/'} 1rem 'Open Sans Variable',
  label-medium-font: 'Open Sans Variable',
  label-medium-line-height: 1rem,
  label-medium-size: 0.75rem,
  label-medium-tracking: 0.019rem,
  label-medium-weight: 600,
  label-medium-weight-prominent: 700,
  label-small: 600 0.688rem #{'/'} 1rem 'Open Sans Variable',
  label-small-font: 'Open Sans Variable',
  label-small-line-height: 1rem,
  label-small-size: 0.688rem,
  label-small-tracking: 0.025rem,
  label-small-weight: 600,
  title-large: 600 1.375rem #{'/'} 1.75rem 'Open Sans Variable',
  title-large-font: 'Open Sans Variable',
  title-large-line-height: 1.75rem,
  title-large-size: 1.375rem,
  title-large-tracking: 0rem,
  title-large-weight: 600,
  title-medium: 600 1rem #{'/'} 1.5rem 'Open Sans Variable',
  title-medium-font: 'Open Sans Variable',
  title-medium-line-height: 1.5rem,
  title-medium-size: 1rem,
  title-medium-tracking: 0.009rem,
  title-medium-weight: 600,
  title-small: 600 0.875rem #{'/'} 1.313rem 'Open Sans Variable',
  title-small-font: 'Open Sans Variable',
  title-small-line-height: 1.313rem,
  title-small-size: 0.875rem,
  title-small-tracking: 0.006rem,
  title-small-weight: 600,
);
