@use '@atlasng/design-system/sass/internal/token-utils';

$config: (
  namespace: 'not-found-page',
  tokens: (
    title-font: token-utils.sys-token(headline-large),
    title-letter-spacing: token-utils.sys-token(headline-large-tracking),
    description-font: token-utils.sys-token(body-large),
    description-letter-spacing: token-utils.sys-token(body-large-tracking),
    description-color: token-utils.sys-token(on-surface-variant),
  ),
);

@mixin overrides($overrides) {
  @include token-utils.apply-overrides($overrides, $config);
}
