@use '@atlasng/design-system/sass/internal/breakpoints';
@use '@atlasng/design-system/sass/internal/token-utils';
@use './tokens' as *;

:host {
  .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  .landing-page-content-container {
    max-width: 106.25rem;
    padding: 1.25rem;
    width: calc(100% - 2.5rem);

    @include breakpoints.breakpoint(medium, large, x-large) {
      padding: 2.5rem;
      width: calc(100% - 5rem);
    }
  }

  .landing-page-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 31rem;
    padding: 2.5rem;
    background: rgb(
      from token-utils.slot(card-background, $config) r g b / 0.8
    );
    color: token-utils.slot(card-color, $config);
    border-radius: token-utils.slot(outline-radius, $config);

    .header {
      color: token-utils.slot(card-header-color, $config);
      font-family: token-utils.slot(card-header-font, $config);
      line-height: token-utils.slot(card-header-line-height, $config);
      font-size: token-utils.slot(card-header-font-size, $config);
      letter-spacing: token-utils.slot(card-header-tracking, $config);
      font-weight: token-utils.slot(card-header-weight, $config);
    }

    .description {
      font-family: token-utils.slot(card-description-font, $config);
      line-height: token-utils.slot(card-description-line-height, $config);
      font-size: token-utils.slot(card-description-font-size, $config);
      letter-spacing: token-utils.slot(card-description-tracking, $config);
      font-weight: token-utils.slot(card-description-weight, $config);
    }

    .funder {
      font-family: token-utils.slot(card-funder-font, $config);
      line-height: token-utils.slot(card-funder-line-height, $config);
      font-size: token-utils.slot(card-funder-font-size, $config);
      letter-spacing: token-utils.slot(card-funder-tracking, $config);
      font-weight: token-utils.slot(card-funder-weight, $config);
    }
  }
}
