:host {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  // overflow: hidden;

  // ang-navigation-container {
  //   height: calc(100% - 3.5rem);
  //   overflow: auto;
  // }
}

.page-content {
  display: block;
  flex: 1 1 0;
}

ang-footer {
  flex: 0 0 auto;
}
