@use '@angular/material' as mat;
@use 'sass:map';
@use './styles/theming' as theming;
@use './styles/palettes' as wpp-theme;

@include theming.theme(wpp-theme.$theme);

body {
  --ang-header-shell-logo-background-color: transparent;
  margin: 0;
  min-width: 20rem;
}

.ang-navigation-menu-social {
  width: 100%;
  gap: 0.5rem;
  justify-content: center !important;
}

span.ang-breadcrumbs-label,
.ang-breadcrumbs-separator {
  font-weight: 400;
}

mat-drawer-content {
  display: block !important;
}

ang-table {
  max-height: unset;

  .align-right .mat-sort-header-container {
    justify-content: end;
  }

  .mat-mdc-cell {
    div {
      margin-right: 1.125rem;
    }
  }
}

ang-providers-list {
  .ang-provider-list--card {
    display: flex;
    flex-direction: column;
  }
}

markdown {
  :first-child {
    margin-top: 0;
  }
  p {
    margin: 0.75rem 0;
  }

  ul {
    margin: 0;
  }

  a {
    display: inline-flex;
    color: var(--mat-sys-on-surface-variant);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    font-weight: 600;
  }
}
