@use '@angular/material' as mat;
@use 'sass:map';
@use './styles/theming' as theming;
@use './styles/palettes' as wpp-theme;

:root {
  @include theming.theme(wpp-theme.$theme);
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    @include theming.theme(wpp-theme.$theme-dark);
    color-scheme: dark;
  }
}

body {
  --ang-header-shell-logo-background-color: transparent;
  margin: 0;
  min-width: 20rem;
}

wpp-news-and-events {
  --wpp-news-events-mesh:
    radial-gradient(ellipse at 5% 15%, rgb(78 102 255 / 14%), transparent 36%),
    radial-gradient(ellipse at 22% 0%, rgb(50 173 255 / 12%), transparent 34%),
    radial-gradient(ellipse at 36% 28%, rgb(4 224 227 / 11%), transparent 34%),
    radial-gradient(ellipse at 52% 4%, rgb(0 223 156 / 11%), transparent 35%),
    radial-gradient(ellipse at 70% 22%, rgb(124 236 43 / 10%), transparent 34%),
    radial-gradient(ellipse at 94% 4%, rgb(255 251 0 / 11%), transparent 34%),
    radial-gradient(ellipse at 100% 48%, rgb(255 183 0 / 12%), transparent 36%),
    radial-gradient(ellipse at 88% 88%, rgb(252 105 6 / 11%), transparent 36%),
    radial-gradient(ellipse at 64% 100%, rgb(255 0 98 / 10%), transparent 36%),
    radial-gradient(ellipse at 40% 86%, rgb(255 50 245 / 10%), transparent 34%),
    radial-gradient(
      ellipse at 14% 100%,
      rgb(115 72 255 / 13%),
      transparent 38%
    ),
    radial-gradient(ellipse at 0% 62%, rgb(194 89 255 / 11%), transparent 34%);
}

markdown {
  :first-child {
    margin-top: 0;
  }
  p {
    margin: 0.75rem 0;
  }

  ul {
    margin: 0;
  }

  a {
    display: inline-flex;
    color: var(--mat-sys-on-surface-variant);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    font-weight: 600;
  }
}

mat-drawer-content {
  --mat-sidenav-content-text-color: var(--mat-sys-on-surface-variant);
}

ang-navigation-menu {
  .ang-navigation-menu-social {
    width: 100%;
    gap: 0.5rem;
    justify-content: center !important;
    border-top: none !important;
  }
}

ang-breadcrumbs {
  span.ang-breadcrumbs-label,
  .ang-breadcrumbs-separator {
    font-weight: 400;
  }
}

ang-table {
  max-height: unset;

  th {
    padding-top: 0.75rem !important;
    padding-bottom: 0.5rem !important;
  }

  .align-right .mat-sort-header-container {
    justify-content: flex-end;
  }

  .align-right.mat-sort-header {
    padding-right: 7.5px;
  }

  td,
  .align-right.mat-mdc-footer-cell {
    padding-right: 1.5rem !important;
  }
}

ang-providers-list {
  .ang-provider-list--card {
    display: flex;
    flex-direction: column;
  }
}

ang-cookie-modal {
  .ang-cookie-modal--logo {
    margin-right: auto;
  }
}
